<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('jquery-ui/css/blitzer/jquery-ui.min.css') }}" />

    <script src="{{ asset('myjs/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('jquery-ui/js/jquery-ui.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}" type="text/javascript"></script>
    
    <title>Welcome {{app.user.firstName }}</title>
    <style type="text/css">
    	.bold{
    		font-weight: bold;
    	}
    	
    	form ul>li{
    		color: red;
    		font-weight: bold;
    	}
    </style>
    
    <script type="text/javascript">
	    $(function() {
			$( "#form_outOffice_outDate" ).datepicker({ dateFormat: 'dd-mm-yy' });
		});
    </script>
</head>
<body style="padding-top: 50px">
<div class="container">
	{% if error %}
		<div class="alert alert-danger">
		 	<button type="button" class="close" data-dismiss="alert">&times;</button>
			    <div>{{ error }}</div>
		</div>
	{% endif %}
	
	
	<div class="row">
		<div class="col">
			<div class="col-md-8 large" style="font-size:25px;">
				{{app.user.firstName }} {{app.user.lastName }}
			</div>
			<div class="col-md-4"> 
				<a href="{{ path('_my_logout') }}"><div class="btn btn-danger  pull-right">Log out</div></a>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
	  <div class="panel-heading">Add/Update Schedule</div>
	{{ form_start(outOfficePurpose, {'method': 'post', 'attr' : { 'class': 'form-horizontal' }  }) }}
		  <div class="panel-body">
				   <div class="form-group">
					    <label for="form_outDate" class="col-sm-2 control-label">Purpose</label>
					    <div class="col-sm-10">
							{{ form_widget(outOfficePurpose.purpose.id, 
								{ 'attr': {
											"type" : "text",
										  }
								}
							) }}
						</div>
					</div>
		  
					 <div class="form-group">
					    <label for="form_outDate" class="col-sm-2 control-label">Date</label>
					    <div class="col-sm-10">
							{{ form_widget(outOfficePurpose.outOffice.outDate, 
								{ 'attr': {
											"type" : "text",
										  }
								}
							) }}
						</div>
					</div>
					
			
					<div class="form-group">
						<label class="col-sm-2 control-label">Time Out</label>
						<div class="col-sm-10">
								<div class="row">
									<div class="col-md-2">
										{{ form_widget(outOfficePurpose.outOffice.timeOut, 
													{ 'attr': {
																"type" : "text",
															  }
													}
										) }}
									</div>
									
									<div class="col-lg-8">
									   	 <div class="row">
										   	 <div class="col-md-3 bold">Time In Expected</div>
											 {{ form_widget(outOfficePurpose.outOffice.timeInExpected, 
													{ 'attr': {
																"class" : "col-md-8"
															  }
													}
												) }}
												
										</div>
									</div>
									
								</div>
							
						</div>
					</div>
					
					
					<div class="form-group">
					    <label for="form_timeInActual" class="col-sm-2 control-label">Time In Actual</label>
					    <div class="col-sm-10">
							{{ form_widget(outOfficePurpose.outOffice.timeInActual, 
								{ 'attr': {
											
										  }
								}
							) }}
							{{ form_errors(outOfficePurpose.outOffice.timeInActual, 
									{'attr' : 
										{
										} 
									}
							) }}
						</div>
					</div>
					<div class="form-group">
					    <label for="form_details" class="col-sm-2 control-label">Details</label>
					    <div class="col-sm-10">
							{{ form_widget(outOfficePurpose.outOffice.details, 
								{ 'attr': {
											"type" : "text",
											"class" : "col-sm-6",
											"rows" : 3
										  }
								}
							) }}
						</div>
					</div>
			</div>
		<div class="panel-footer"><input type="submit" class="btn btn-primary"/></div>
		{{ form_end(outOfficePurpose) }}
	</div>
</div>
</body>
</html>